.form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left; 
}

.header{
  margin-left:50vw;
  transform:translate(-60%,0);
  /* background-color: red; */
}

.form-wrapper{
  display:flex;
  width:50%;
  position: absolute;
  margin-left: 50%;
  transform:translate(-50%);
  flex-direction: column;
  justify-content: space-between;
  align-items: left; 
  flex-wrap: wrap;
}

.detailsCard{
  margin:8vh 0 !important;
}

